.entry-content {

	h2 {
		border-left: solid 5px #333;
		padding: 8px 16px;
	}

	h3 {
		border-bottom: 2px solid #333;
		padding-bottom: 0.5rem;
	}
}

.widget-title {
	border: 3px solid #333;
	padding: 5px 15px;
	margin: 0 0 1.5rem;
}
